.at_plus{
    position: absolute;
    top:70%;
    left:50%;
}

#at-plus-container .at_plus_white{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    float: left;
    background-color: grey;

}

#at-plus-container .at_plus_white img{
    position: relative;
    top:20%;
    left:2%;
}


.at_plus:hover .at_plus_white{
    display: none;
}

.at_plus .at_plus_green{

    display: none;
}

@keyframes atplus-green-move{
    0% {transform: scale(0.5);
    }
    100%{
        transform: scale(0.8);
    }
}

.at_plus:hover .at_plus_green{
    width: 85px;
    height: 85px;
    background-color: rgba(48, 63, 159, 1);
    border-radius: 50%;
    position: absolute;
    top:-24px;
    left:-24px;
    display:block;
    animation: atplus-green-move 0.3s;
    -webkit-animation: atplus-green-move 0.3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}



#at-plus-container .at_plus_green img{
    position: relative;
    top:20%;
    left:10%;
}

@keyframes maskmove{

    0%{ 
        position: absolute;
        top:0;
        left:0;}
    100%{
        position: absolute;
        top:-60px;
        left:-80px;
    }
}

@keyframes historymove{

    0%{
        position: absolute;
        top:0px;
        left:0px;
    }
    100%{
        position: absolute;
        top:-10px;
        left:-100px;
    }
}

@keyframes messagemove{

    0%{position: absolute;
        top:0px;
        left:0px;}
    100%{
        position: absolute;
        top:50px;
        left:-83px;
    }
}

@keyframes settingmove{

    0%{position: absolute;
        top:0;
        left:0%}
    100%{
        position: absolute;
        top:80px;
        left:-30px;
    }
}

@keyframes signmove{

    0%{position: absolute;
        top:0;
        left:0%}
    100%{
        position: absolute;
        top:78px;
        left:28px;
    }
}


#control-ring-container li{
    position: absolute;
    top:70%;
    left:50%;
    list-style: none;
}




#control-ring .control-img{
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50%;
    background-color: grey;
    padding: 0px;
}



#control-ring .control-img img{
    position: relative;
    top:22%;
    left:22%;
}

.at_plus:hover .maskbutton{
    display: block;
    animation: maskmove 1s;
    -webkit-animation: maskmove 1s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
}

.at_plus:hover .historybutton{
    display: block;
    animation: historymove 1s;
    -webkit-animation: historymove 1s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
}

.at_plus:hover .messagebutton{
    display: block;
    animation: messagemove 1s;
    -webkit-animation: messagemove 1s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
}

.at_plus:hover .settingbutton{
    display: block;
    animation: settingmove 1s;
    -webkit-animation: settingmove 1s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
}

.at_plus:hover .signbutton{
    display: block;
    animation: signmove 1s;
    -webkit-animation: signmove 1s;
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode: forwards;
}

.at_plus .maskbutton{
    display: none;

}

.at_plus .historybutton{
    display: none;
}

.at_plus .messagebutton{
    display: none;
}
.at_plus .settingbutton{
    display: none;
}

.at_plus .signbutton{
    display: none;
}


#control-ring .unread{
    background-color: rgb(238, 128, 128);
    border-radius: 50%;
    display: inline-block;   
    height: 20px;
    width: 20px;
    line-height: 20px;
    color:white;
    position: relative;
    text-align: center;
    top:-44px;
    left:26px;
}



.mask button,.history button,.message button,.unread,.setting button,.sign button{
    border-radius: 50%;
    background-color: grey;
    width: 32px;
    height: 32px;
}



@keyframes infomoveback{
    0%{
        position: absolute;
        top:-150px;
        left:-40px;
        transform: scale(1.0);
    }
    100%{ position: absolute;
        top:-50px;
        left:-40px;
        transform: scale(0.2);  
        display: none;  
    }
    
}

#bottom-positioner #info-bar{
    display: none;
}

.info ul li{
    list-style: none;
}

#info-bar{
    position: absolute;
    bottom: 0px;
    background-color: grey;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

#info-bar .page_user{
    position: relative;
    top:-5px;
    left:-5px;

}

#info-bar .page_user #page_user_number{
    color:white;
    font-size: 20px;
    position: relative;
    left:10px;    
    top:-7px;
}

#info-bar .page_comment{
    position: relative;
    top:-5px;
    left:-10px;
}

#info-bar .page_comment span{
    color:white;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left:12px;    
    top:-4px;
}

#info-bar .mine_posted{
    position: relative;
    top:-5px;
    left:-19px;
}

#info-bar .mine_posted span{
    color:#079E6E;
    font-weight:bold;
    font-size: 20px;
    position: relative;
    left:3px;    
    top:-4px;
}

#info-bar .mine_like{
    position: relative;
    top:-35px;
    left:24px;
} 

#info-bar .mine_like span{
    color:#079E6E;
    font-weight:bold;
    font-size: 20px;
    position: relative;
    left:4px;    
    top:-4px;
}

@keyframes infomove{
    0%{ position: absolute;
        top:-50px;
        left:-40px;
        transform: scale(0.2);    
    }
    100%{
        position: absolute;
        top:-150px;
        left:-40px;
        transform: scale(1.0);
    }
}

.at_plus:hover #bottom-positioner #info-bar{
    display: block;
    animation: infomove 1s;
    -webkit-animation: infomove 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

