*{
    transition: all 1s ease 0.3s;
    -webkit-transition: all 1s ease 0.3s;
}

.at_plus{
    position: absolute;
    width:32px;
    height: 32px;
    margin: 0px;
    left:50%;
    top: 80%;
}

.at_plus_button{
    background-image:url('assets/images/atplus_white.png');
    background-color: grey;
    background-position: 3px;
    background-repeat: no-repeat;
    background-size: 84% 60%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    display:inline-block;
    background-color: grey;

}



.at_plus:hover .at_plus_button{
    background-image: url('assets/images/atplus_green.png');
    background-position: 6px;
    width: 85px;
    height: 85px;
    background-size: 84% 60%;
    background-color: rgba(48, 63, 159, 1);
    border-radius: 50%;
    display:inline-block;
}


#control-ring-container li{
    list-style: none;
}


#control-ring .control-img{
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50%;
    background-color: grey;
    padding: 0px;
}



.at_plus #control-ring .control-img img{
    position: relative;
    top:22%;
    left:22%;
}

.at_plus:hover .maskbutton{
    display: block;
    opacity: 1;
    position: relative;
    top:-80px;
    left:-110px;
}

.at_plus:hover .historybutton{
    display: block;
    opacity: 1;
    position: relative;
    top:-60px;
    left:-135px;
}

.at_plus:hover .messagebutton{
    display: block;
    opacity: 1;
    position: relative;
    top:-40px;
    left:-120px;
}

.at_plus:hover .settingbutton{
    display: block;
    opacity: 1;
    position: relative;
    top:-70px;
    left:-65px;
}

.at_plus:hover .signbutton{
    display: block;
    opacity: 1;
    position: relative;
    top:-115px;
    left:0px;
}

.at_plus .maskbutton{
    opacity: 0;
    position: relative;
    top:-35px;
    left:-50px;
    display: block;
}

.at_plus .historybutton{
    opacity: 0;
    position: relative;
    top:-80px;
    left:-50px;
    display: block;
}

.at_plus .messagebutton{
    opacity: 0;
    position: relative;
    top:-125px;
    left:-55px;
    display: block;
}
.at_plus .settingbutton{
    opacity: 0;
    position: relative;
    top:-170px;
    left:-60px;
    display: block;
}

.at_plus .signbutton{
    opacity: 0;
    position: relative;
    top:-210px;
    left:-50px;
    display: block;
}


#control-ring .unread{
    background-color: rgb(238, 128, 128);
    border-radius: 50%;
    display: inline-block;   
    height: 20px;
    width: 20px;
    line-height: 20px;
    color:white;
    position: relative;
    text-align: center;
    top:-44px;
    left:26px;
}



.mask button,.history button,.message button,.unread,.setting button,.sign button{
    border-radius: 50%;
    background-color: grey;
    width: 32px;
    height: 32px;
}



.info ul li{
    list-style: none;
}

#info-bar{
    position: absolute;
    bottom: 0px;
    background-color: grey;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

#info-bar .page_user{
    position: relative;
    top:20px;
    left:-5px;

}

#info-bar .page_user #page_user_number{
    color:white;
    font-size: 20px;
    position: relative;
    left:10px;    
    top:-7px;
}

#info-bar .page_comment{
    position: relative;
    top:10px;
    left:-10px;
}

#info-bar .page_comment span{
    color:white;
    font-weight: bold;
    font-size: 30px;
    position: relative;
    left:12px;    
    top:-4px;
}

#info-bar .mine_posted{
    position: relative;
    top:10px;
    left:-19px;
}

#info-bar .mine_posted span{
    color:#079E6E;
    font-weight:bold;
    font-size: 20px;
    position: relative;
    left:3px;    
    top:-4px;
}

#info-bar .mine_like{
    position: relative;
    top:-17px;
    left:24px;
} 

#info-bar .mine_like span{
    color:#079E6E;
    font-weight:bold;
    font-size: 20px;
    position: relative;
    left:4px;    
    top:-4px;
}


.at_plus:hover #bottom-positioner #info-bar{
    opacity: 1;
    transform: scale(1.0);
    position: relative;
    top:-240px;
    left:-15px;
}


.at_plus #bottom-positioner #info-bar{
    opacity: 0;
    transform: scale(0.2);
    position: relative;
    top:-100px;
    left:-40px;

}

#control-ring,#bottom-positioner,#control-ring{
    height: 0%;
    width: 0%;
}