.at_plus{
    position: absolute;
    top:70%;
    left:50%;
}

#at-plus-container .at_plus_white{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
    margin: 0%;
    padding: 0%;
    float: left;
    background-color: grey;

}

#at-plus-container .at_plus_white img{
    position: relative;
    top:20%;
    left:2%;
}



.at_plus:hover .at_plus_white{
    display: none;
}

.at_plus .at_plus_green{

    display: none;
}

@keyframes atplus-green-move{
    0% {transform: scale(0.6);
    }
    100%{
        transform: scale(1.0);
    }
}

.at_plus:hover .at_plus_green{
    width: 85px;
    height: 85px;
    background-color: rgba(48, 63, 159, 1);
    border-radius: 50%;
    position: absolute;
    top:65.5%;
    left:48%;
    display:block;
    animation: atplus-green-move 0.2s;
    -webkit-animation: atplus-green-move 0.2s;
}



#at-plus-container .at_plus_green img{
    position: relative;
    top:20%;
    left:10%;
}

@keyframes maskmove{

    0%{position: absolute;
        top:70%;
        left:50%}
    100%{
        position: absolute;
        top:60%;
        left:40%
    }
}

@keyframes historymove{

    0%{position: absolute;
        top:70%;
        left:50%}
    100%{
        position: absolute;
        top:50%;
        left:40%
    }
}

@keyframes messagemove{

    0%{position: absolute;
        top:70%;
        left:50%}
    100%{
        position: absolute;
        top:40%;
        left:40%
    }
}

@keyframes settingmove{

    0%{position: absolute;
        top:70%;
        left:50%}
    100%{
        position: absolute;
        top:30%;
        left:40%
    }
}

@keyframes signmove{

    0%{position: absolute;
        top:70%;
        left:50%}
    100%{
        position: absolute;
        top:20%;
        left:40%
    }
}


#control-ring-container li{
    position: absolute;
    top:70%;
    left:50%;
    list-style: none;
}




#control-ring .control-img{
    height: 40px;
    width: 40px;
    position: relative;
    border-radius: 50%;
    background-color: grey;
    padding: 0px;
}



#control-ring .control-img img{
    position: relative;
    top:22%;
    left:22%;
}

.at_plus:hover .maskbutton{
    display: block;
    top:40%;
    left:40%;
}

.at_plus:hover .historybutton{
    display: block;
    animation: historymove 1s;
    -webkit-animation: historymove 1s;
}

.at_plus:hover .messagebutton{
    display: block;
    animation: messagemove 1s;
    -webkit-animation: messagemove 1s;
}

.at_plus:hover .settingbutton{
    display: block;
    animation: settingmove 1s;
    -webkit-animation: settingmove 1s;
}

.at_plus:hover .signbutton{
    display: block;
    animation: signmove 1s;
    -webkit-animation: signmove 1s;
}

.at_plus .maskbutton{
    display: none;
    transition-property: position;
    transition-duration: 1s;
    -webkit-transition-property: position;
    -webkit-transition-duration: 1s;
}

.at_plus .historybutton{
    display: none;
}

.at_plus .messagebutton{
    display: none;
}
.at_plus .settingbutton{
    display: none;
}

.at_plus .signbutton{
    display: none;
}


#control-ring .unread{
    background-color: rgb(238, 128, 128);
    border-radius: 50%;
    display: inline-block;   
    height: 20px;
    width: 20px;
    line-height: 20px;
    color:white;
    position: relative;
    text-align: center;
    top:-44px;
    left:26px;
}

.mask button,.history button,.message button,.unread,.setting button,.sign button{
    border-radius: 50%;
    background-color: grey;
    width: 32px;
    height: 32px;
}